%section.content
	= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
		%h2 Log in
		.field
			= f.label :login
			%br/
			= f.text_field :login, placeholder: 'Username', title: 'Enter Your Username', class: 'form-control'
		.field
			= f.label :password
			%br/
			= f.password_field :password, autocomplete: "off", placeholder: 'Password', title: 'Enter Your Password', class: 'form-control'
		- if devise_mapping.rememberable?
			.field
				= f.check_box :remember_me
				= f.label :remember_me
		.actions
			= f.submit "Log in"
		.field
			%a.btn.btn-block.btn-social.btn-google-plus
				%i.fa.fa-google-plus
				SignIn With Google
		.field
			%a.btn.btn-block.btn-social.btn-facebook
				%i.fa.fa-facebook
				SignIn With Facebook
		= render "devise/shared/links"