%p#notice= notice
%h1 Listing Shipments
%table
  %thead
    %tr
      %th Title
      %th Length
      %th Float
      %th Breadth
      %th Height
      %th Description
      %th Customer
      %th{:colspan => "3"}
  %tbody
    - @shipments.each do |shipment|
      %tr
        %td= shipment.title
        %td= shipment.length
        %td= shipment.float
        %td= shipment.breadth
        %td= shipment.height
        %td= shipment.description
        %td= shipment.customer_id
        %td= link_to 'Show', shipment
        %td= link_to 'Edit', edit_shipment_path(shipment)
        %td= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Shipment', new_shipment_path(customer_id: current_user.id)
